<div class="ui one column center aligned grid">
  <div class="column six wide form-holder">
    <h2 class="center aligned header form-head">Sign in</h2>
    <div class="ui form">
      <div class="field">
        <input type="text" placeholder="username">
      </div>
      <div class="field">
        <input type="password" placeholder="password">
      </div>
      <div class="field">
        <input type="submit" value="sign in" class="ui button large fluid green">
      </div>
      <div class="inline field">
        <button class="ui google plus button" (click)="login()">
  <i class="google mail icon"></i>
  Google Mail
</button>
      </div>
    </div>
  </div>
</div>
